<div class="summary-container">
  <h2>Podsumowanie Gry PvP</h2>
  <p>ID Gry: {{ game?.id }}</p>
  <p>Data rozpoczęcia: {{ game?.start_time }}</p>
  <p>Data zakończenia: {{ game?.end_time }}</p>
  <p>Wynik Gracza 1: {{ game?.score_player1 }}</p>
  <p>Wynik Gracza 2: {{ game?.score_player2 }}</p>

  <h3>Wynik</h3>
  <p>{{ result }}</p>

  <h3>Pytania i odpowiedzi Gracza 1</h3>
  <ul>
    <ng-container *ngFor="let q of game?.questions">
      <li *ngIf="q.player === 'player1'">
        <strong>Pytanie:</strong> {{ q.question }}<br>
        <strong>Odpowiedź Gracza 1:</strong> {{ q.user_answer }}<br>
        <strong>Poprawna odpowiedź:</strong> {{ q.correct_answer }}<br>
        <strong>Czy poprawna:</strong> {{ q.is_correct ? 'Tak' : 'Nie' }}
      </li>
    </ng-container>
  </ul>

  <h3>Pytania i odpowiedzi Gracza 2</h3>
  <ul>
    <ng-container *ngFor="let q of game?.questions">
      <li *ngIf="q.player === 'player2'">
        <strong>Pytanie:</strong> {{ q.question }}<br>
        <strong>Odpowiedź Gracza 2:</strong> {{ q.user_answer }}<br>
        <strong>Poprawna odpowiedź:</strong> {{ q.correct_answer }}<br>
        <strong>Czy poprawna:</strong> {{ q.is_correct ? 'Tak' : 'Nie' }}
      </li>
    </ng-container>
  </ul>

  <button class="summary-button" (click)="goToMenu()">Powrót do menu</button>
</div>
