<body>
  <div class="summary-container">
    <h2>Game Summary</h2>
    <div class="game-stats">
      <p><strong>Game ID:</strong> {{ game?.id }}</p>
      <p><strong>Start Date:</strong> {{ game?.start_time }}</p>
      <p><strong>End Date:</strong> {{ game?.end_time }}</p>
      <p><strong>Result:</strong> {{ game?.result }}</p>
    </div>

    <div class="questions-answers-container">
      <div class="player-questions">
        <h3>Player 1 Questions and Answers</h3>
        <ul class="questions-list">
          <ng-container *ngFor="let q of game?.questions">
            <li *ngIf="q.player === 'player1'">
              <strong>Question:</strong> {{ q.question }}<br>
              <strong>Player 1's Answer:</strong> {{ q.user_answer }}<br>
              <strong>Is Correct:</strong> {{ q.is_correct ? 'Yes' : 'No' }}
            </li>
          </ng-container>
        </ul>
      </div>

      <div class="player-questions">
        <h3>Player 2 Questions and Answers</h3>
        <ul class="questions-list">
          <ng-container *ngFor="let q of game?.questions">
            <li *ngIf="q.player === 'player2'">
              <strong>Question:</strong> {{ q.question }}<br>
              <strong>Player 2's Answer:</strong> {{ q.user_answer }}<br>
              <strong>Is Correct:</strong> {{ q.is_correct ? 'Yes' : 'No' }}
            </li>
          </ng-container>
        </ul>
      </div>
    </div>

    <button class="summary-button" (click)="goToMenu()">Return to Menu</button>
  </div>
</body>
