<body>
  <div class="container">
    <h1>GolQuiz</h1>
    <div id="description" class="description">{{ currentDescription }}</div>
    <div class="login-form">
      <input [(ngModel)]="username" placeholder="Login" type="text" />
      <input [(ngModel)]="password" placeholder="Password" type="password" />
      <button (click)="login()">Log in</button>
    </div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div class="auth-options">
      <button routerLink="/accounts/signup">Sign Up</button>
      <button routerLink="/accounts/password/reset">Forgot Password?</button>
    </div>
  </div>
</body>