<div class="menu-container">
  <h2>Menu Gier</h2>
  <button class="menu-button" (click)="openGameModal('mode1')">Goal Hunter</button>
  <button class="menu-button" (click)="openGameModal('mode2')">Squad Master</button>
  <button class="menu-button" (click)="openGameModal('mode3')">I can take both</button>
  <button class="menu-button" (click)="goToProfile()">Przejdź do Profilu (API)</button>
</div>

<!-- Modals -->
<div *ngIf="currentGameMode === 'mode1'" class="modal">
  <div class="modal-content">
    <h2>Wybierz opcję</h2>
    <button class="menu-button" (click)="startSoloGame('mode1')">Zagraj sam</button>
    <button class="menu-button" (click)="startPvpGame('mode1')">Wyszukaj losowo przeciwnika</button>
    <button class="menu-button" (click)="goToRanking('mode1')">Ranking Goal Hunter</button>
    <button class="close-button" (click)="closeModal()">Zamknij</button>
  </div>
</div>

<div *ngIf="currentGameMode === 'mode2'" class="modal">
  <div class="modal-content">
    <h2>Wybierz opcję</h2>
    <button class="menu-button" (click)="startSoloGame('mode2')">Zagraj sam</button>
    <button class="menu-button" (click)="startPvpGame('mode2')">Wyszukaj losowo przeciwnika</button>
    <button class="menu-button" (click)="goToRanking('mode2')">Ranking Squad Master</button>
    <button class="close-button" (click)="closeModal()">Zamknij</button>
  </div>
</div>

<div *ngIf="currentGameMode === 'mode3'" class="modal">
  <div class="modal-content">
    <h2>Wybierz opcję</h2>
    <button class="menu-button" (click)="startSoloGame('mode3')">Zagraj sam</button>
    <button class="menu-button" (click)="startPvpGame('mode3')">Wyszukaj losowo przeciwnika</button>
    <button class="menu-button" (click)="goToRanking('mode3')">Ranking I can take both</button>
    <button class="close-button" (click)="closeModal()">Zamknij</button>
  </div>
</div>

<div *ngIf="waitingForOpponent" class="modal">
  <div class="modal-content">
    <h2>Proszę czekać, czekamy na drugiego gracza...</h2>
    <p *ngIf="currentGameId">Game ID: {{ currentGameId }}</p>
    <button class="close-button" (click)="cancelWaiting()">Anuluj</button>
  </div>
</div>
