body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #7AC142; /* Jasnozielone tło */
  background-image: linear-gradient(90deg, rgba(255,255,255,0.2) 1px, transparent 1px), 
                    linear-gradient(rgba(255,255,255,0.2) 1px, transparent 1px);
  background-size: 50px 50px; /* Rozmiar kratki na tle */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Roboto', sans-serif; /* Przykładowa czcionka */
  font-size: 36px; /* Rozmiar czcionki */
  font-weight: bold; /* Grubość czcionki */
  color: #333; /* Kolor tekstu */
  margin: 20px 0;
}

.menu-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px; /* Maksymalna szerokość kontenera */
}

.menu-container h2 {
  margin-top: 0;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
}

.menu-button {
  display: block;
  width: 100%; /* Przycisk zajmuje całą szerokość */
  padding: 15px 20px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  border: none;
  text-align: center;
  font-size: 16px;
}

.menu-button:hover {
  background-color: #0056b3;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 400px; /* Maksymalna szerokość modalu */
}

.close-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%; /* Przycisk zamykania zajmuje całą szerokość */
}

.close-button:hover {
  background-color: #cc0000;
}
