<div class="container">
    <h2>Zaloguj się</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <input
        type="text"
        name="username"
        placeholder="Nazwa użytkownika"
        required
        [(ngModel)]="loginData.username"
        #username="ngModel"
      />
      <input
        type="password"
        name="password"
        placeholder="Hasło"
        required
        [(ngModel)]="loginData.password"
        #password="ngModel"
      />
      <button type="submit">Zaloguj się</button>
    </form>
    <div class="link-container">
      <p>Nie masz konta? <a routerLink="/signup">Zarejestruj się tutaj</a></p>
      <a class="btn-reset" routerLink="/password-reset">Resetuj hasło</a>
    </div>
  </div>
  