<!-- my_quiz_app/python_django/users/templates/registration/password_reset_complete.html -->
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasło zostało zresetowane</title>
</head>
<body>
    <div class="container">
        <h2>Hasło zostało zresetowane</h2>
        <p>Twoje hasło zostało pomyślnie zresetowane. Możesz się teraz zalogować używając nowego hasła.</p>
        <a href="{% url 'account_login' %}">Zaloguj się</a>
    </div>
</body>
</html>
