<!-- my_quiz_app/python_django/users/templates/registration/password_reset_confirm.html -->
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ustaw nowe hasło</title>
</head>
<body>
    <div class="container">
        <h2>Ustaw nowe hasło</h2>
        <form method="post" action="{% url 'password_reset_confirm' uidb64=uid token=token %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Ustaw nowe hasło</button>
        </form>
    </div>
</body>
</html>
