body {
  font-family: Arial, sans-serif;
  background-color: #7AC142; 
  background-image: linear-gradient(90deg, rgba(255,255,255,0.2) 1px, transparent 1px), 
                    linear-gradient(rgba(255,255,255,0.2) 1px, transparent 1px);
  background-size: 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: rgba(255, 255, 255, 0.9); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.summary-button {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.summary-button:hover {
  background-color: #0056b3;
}

.user-position {
  margin-bottom: 20px;
  font-weight: bold;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e9e9e9;
}
