<body>
  <div class="summary-container">
    <h2>Game Summary</h2>
    <p>Game ID: {{ game?.id }}</p>
    <p>Start date: {{ game?.start_time }}</p>
    <p>End Date: {{ game?.end_time }}</p>
    <p>Your score: {{ game?.score_player1 }}</p>

    <h3>Questions</h3>
    <ul>
      <ng-container *ngFor="let question of game?.questions">
        <li *ngIf="question.user_answer">
          <strong>Question:</strong> {{ question.question }}<br>
          <strong>Your answer:</strong> {{ question.user_answer }}<br>
          <strong>Is correct?:</strong> {{ question.is_correct }}
        </li>
      </ng-container>
    </ul>
    <button class="button" (click)="goToMenu()">Back to menu</button>
  </div>
</body>