<body>
  <div *ngIf="!showWaitMessage" class="question-container">
    <div *ngIf="game && question">
      <h2 *ngIf="game.game_mode === 'mode1'">Goal Hunter</h2>
      <h2 *ngIf="game.game_mode === 'mode2'">Squad Master</h2>
      <h2 *ngIf="game.game_mode === 'mode3'">Champion</h2>
      

      <div class="logos-frame">
        <div *ngIf="question.team_logo" class="logo-frame">
          <img [src]="question.team_logo" alt="Team Logo">
        </div>

        <div *ngIf="question.league_logo" class="logo-frame">
          <img [src]="question.league_logo" alt="League Logo">
        </div>
      </div>
      <div *ngIf="question.player_photo" class="player-photo-frame">
        <img [src]="question.player_photo" alt="Player Photo">
      </div>

      <p>{{ question.question }}</p>

      <div *ngIf="question.options && question.options.length > 0; else textAnswer" class="options-container">
        <div *ngFor="let option of question.options" class="option-tile">
          <input 
            type="radio" 
            [(ngModel)]="answer" 
            [value]="option" 
            [id]="option">
          <label [for]="option">{{ option }}</label>
        </div>
      </div>

      <!-- Jeśli nie ma opcji, wyświetl pole tekstowe -->
      <ng-template #textAnswer>
        <input type="text" [(ngModel)]="answer" id="answer" name="answer" required>
      </ng-template>

      <!-- Komunikat o błędzie, jeśli nie wpisano odpowiedzi lub nie wybrano opcji -->
      <div *ngIf="showError" class="error-message">
        Please select or enter an answer before submitting.
      </div>

      <button class="submit-button" (click)="submitAnswer(answer)">Submit</button>

      <div *ngIf="showCorrectAnswer" class="correct-answer">
        <p>Correct Answer: {{ question.correct_answer }}</p>
        <button *ngIf="!isLastQuestion && showCorrectAnswer" (click)="nextQuestion()">Next Question</button>
        <button *ngIf="isLastQuestion && showCorrectAnswer" (click)="finishGame()">Finish Game</button>
      </div>
    </div>
  </div>

  <div *ngIf="showWaitMessage" class="wait-message">
    <p>Wait for other player to finish...</p>
  </div>
</body>
