<body>
  <div *ngIf="game && currentQuestion" class="question-container">
    <h2 *ngIf="game.game_mode === 'mode1'">Goal Hunter</h2>
    <h2 *ngIf="game.game_mode === 'mode2'">Squad Master</h2>
    <h2 *ngIf="game.game_mode === 'mode3'">Champion</h2>

    <h3>Question {{ questions.indexOf(currentQuestion) + 1 }}/{{ questions.length }}</h3>
    <div class="logos-frame">
      <div *ngIf="currentQuestion.team_logo" class="logo-frame">
        <img [src]="currentQuestion.team_logo" alt="Team Logo">
      </div>
      <div *ngIf="currentQuestion.league_logo" class="logo-frame">
        <img [src]="currentQuestion.league_logo" alt="League Logo">
      </div>
      <div>
        <img *ngIf="currentQuestion.player_photo" [src]="currentQuestion.player_photo" alt="Player Photo">
      </div>
    </div>

    <p>{{ currentQuestion.question }}</p>

    <div *ngIf="currentQuestion.options && currentQuestion.options.length > 0; else textAnswer" class="options-container">
      <div *ngFor="let option of currentQuestion.options" class="option-tile">
        <input 
          type="radio" 
          [(ngModel)]="answer" 
          [value]="option" 
          [id]="option">
        <label [for]="option">{{ option }}</label><br>
      </div>
    </div>
    <ng-template #textAnswer>
      <input type="text" [(ngModel)]="answer" id="answer" name="answer" required>
    </ng-template>

    <div *ngIf="showError" class="error-message">
      Please select or enter an answer before submitting.
    </div>

    <button (click)="submitAnswer()" class="submit-button">Submit</button>

    <div *ngIf="showCorrectAnswer" class="correct-answer">
      <p>Correct Answer: {{ currentQuestion.correct_answer }}</p>
      <button *ngIf="!isLastQuestion && showCorrectAnswer" (click)="nextQuestion()">Next Question</button>
      <button *ngIf="isLastQuestion && showCorrectAnswer" (click)="finishGame()">Finish Game</button>
    </div>
  </div>
</body>
